@tailwind base;

.hide {
    display: none;
}

.title:hover + .hide {
    display: block;
}

body {
    font-family: "Raleway", sans-serif;
}

.rectangle {
    height: 50px;
    width: 25px;
    background-color: #ffe600;
}

.custom-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
}

.logo{
    height: 70%;
}

@tailwind components;

@tailwind utilities;
